##### constants

In [1]:
DATA_PATH = '../data/processed/1_preprocessed_data.pkl'
ROLES_PATH = '../data/raw/roles_short_names.csv'


ROLE_COLS = ['DevType']
TECH_COLS = [
    'LanguageHaveWorkedWith',
    'DatabaseHaveWorkedWith',
    'PlatformHaveWorkedWith',
    'WebframeHaveWorkedWith',
    'MiscTechHaveWorkedWith',
    'ToolsTechHaveWorkedWith',
    'NEWCollabToolsHaveWorkedWith'
]

##### load packages

In [5]:
import pandas as pd 
import numpy as np
import logging
import pickle


from sklearn.preprocessing import MultiLabelBinarizer

##### _______________________________________________________________________________________________________________________

##### Read data

In [4]:
raw_data = pd.read_pickle(DATA_PATH)
role_names = pd.read_csv(ROLES_PATH, sep=';')

##### encoding

In [8]:
data = raw_data.copy()
encoded_data ={}
for col in ROLE_COLS + TECH_COLS:
    binarizer = MultiLabelBinarizer()   
    encoded_df = pd.DataFrame(binarizer.fit_transform(data[col]),
                              columns=binarizer.classes_,
                              index=data[col].index
                             )   
    encoded_data[col] = encoded_df


#    This is typically used when dealing with columns that contain lists of items (like roles or technologies someone knows),
# and you want to convert these lists into a binary format (one-hot encoding) for easier analysis.

In [18]:
data = pd.concat(encoded_data, axis=1)
data

                  DevType                           \
      Academic researcher Data or business analyst
0                       0                        0
1                       0                        0
2                       0                        0
3                       0                        0
4                       0                        0
...                   ...                      ...
83434                   0                        0
83435                   0                        0
83436                   0                        0
83437                   0                        0
83438                   0                        0

                                                                            \
      Data scientist or machine learning specialist Database administrator
0                                                 0                      0
1                                                 0                      0
2                                                 0                      0
3                                                 0                      0
4                                                 0                      0
...                                             ...                    ...
83434                                             0                      0
83435                                             0                      0
83436                                             1                      0
83437                                             0                      0
83438                                             0                      0

                                                                            \
      Designer DevOps specialist Developer, QA or test Developer, back-end
0            0                 0                     0                   0
1            0                 0                     0                   0
2            0                 0                     0                   0
3            0                 0                     0                   0
4            0                 0                     0                   0
...        ...               ...                   ...                 ...
83434        0                 0                     0                   1
83435        0                 0                     0                   0
83436        0                 1                     0                   0
83437        0                 0                     0                   1
83438        0                 0                     0                   1

                                                     \
      Developer, desktop or enterprise applications
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 1
...                                             ...
83434                                             0
83435                                             0
83436                                             0
83437                                             0
83438                                             0

                                                   ...  \
      Developer, embedded applications or devices  ...
0                                               0  ...
1                                               0  ...
2                                               0  ...
3                                               0  ...
4                                               0  ...
...                                           ...  ...
83434                                           0  ...
83435                                           0  ...
83436                                           0  ...
83437                                           0  ...
83438                                           0  ...

      NEWCollabToolsHaveWorkedWith                                           \
                           RStudio Rider RubyMine Sublime Text TextMate Vim
0                                0     0        0            0        0   0
1                                0     0        0            0        0   0
2                                1     0        0            1        0   0
3                                0     0        0            0        0   0
4                                0     0        0            0        0   1
...                            ...   ...      ...          ...      ...  ..
83434                            0     0        0            1        0   1
83435                            1     0        0            1        0   1
83436                            0     0        0            1        0   1
83437                            0     0        0            1        0   0
83438                            0     0        0            0        0   0


      Visual Studio Visual Studio Code Webstorm Xcode
0                 0                  0        0     1
1                 0                  0        0     0
2                 0                  1        0     0
3                 0                  0        0     0
4                 0                  0        0     0
...             ...                ...      ...   ...
83434             0                  1        0     0
83435             1                  1        0     0
83436             0                  1        0     1
83437             0                  0        0     0
83438             0                  1        0     0

[83439 rows x 150 columns]

##### _______________________________________________________________________________________________________________________

##### Display jobs frequency

In [28]:
job_freq = data['DevType'].sum().sort_values().reset_index()
job_freq

                                            index      0
0                 Marketing or sales professional    638
1                                       Scientist   2015
2            Senior Executive (C-Suite, VP, etc.)   2103
3                     Developer, game or graphics   2112
4                                        Educator   2369
5                      Engineer, site reliability   2448
6                             Academic researcher   2899
7                                 Product manager   3074
8                         Other (please specify):   3545
9                           Developer, QA or test   3611
10                       Data or business analyst   3792
11                            Engineering manager   3810
12                                 Engineer, data   4176
13                                        Student   4187
14  Data scientist or machine learning specialist   4273
15    Developer, embedded applications or devices   4598
16                                       Designer   4611
17                         Database administrator   5655
18                           System administrator   6079
19                              DevOps specialist   7058
20                              Developer, mobile   9800
21  Developer, desktop or enterprise applications  11036
22                           Developer, front-end  18231
23                            Developer, back-end  29071
24                          Developer, full-stack  32891

##### Display skills frequency